.heroDiv{ 
  display:flex;
    position:absolute;
    background-color:#03101f;
    width:100%;
    height:600px;
  
  }
  .content{
    position:relative;
 
    width:600px;
    height:300px;
    padding:20px;
    text-align:left;
    margin:120px  70px;
  }
  .carView{

     width:650px;
    height:550px;
   

  }
  .canvasView{
    margin-top:10px;
    width:300px;
    height:100px;
 
  

  
   
  }
  .heroHeading{
margin-top:-10px;
margin-left:60px;

  }
  .firstHead{
  color:white;
  font-size:52px;
  width:700px;
  }
  .secondHead{
    color:rgb(244, 53, 53);
    font-size:52px;
    margin-top:-40px;
  }
  .heroTxt{
color:white;
font-Size:20px;
font-weight:regular;
margin-left:70px;
  }
  .headerSpan{
    color:rgb(25, 130, 250);
  }
  .heroButton{
    margin-top:30px;
    width:150px;
    height:50px;
    margin-left:50px;
    border-radius: 10px;
    border:1px white;
    font-size: 18px;
  }
  .start{
      background-color:#4592AF;
       color:white;
  }
  .explore{
    background-color: white;
    color:black;
  }
  .heroButton:hover{
    cursor: pointer;
  }
  .start:hover{
    background-color: black;
    color:white;
    border:2px solid #4592AF;
  }
  .explore:hover{
    background-color: black;
    color:white;
    border:2px solid #4592AF;
  }
 
  

 
  @media screen and (max-width:1311px){
     .heroDiv{
      display:flex;
      
    
    }
    .content{
      font-size:18px;
      margin-left:10px;
 
    }
    .carView{
      margin-top:100px;
      margin-left:-100px;
      width:500px;
      height:400px;
   
     
    }
    .heroHeading{
    font-size:30px;
    margin-left:50px;
  
    }
    .heroTxt{
      font-size:18px;
      width:450px;
  
    }
    .heroButton{
      width:140px;
      height:40px;
      font-size:12px;

    }
  }
   @media screen and (max-width:1000px){
     .carView{
      display:none;
    }
     .content{
      font-size:26px;
      margin-left:0px;
    }
  }
@media screen and (max-width:800px){
    .heroDiv{
      display:block;
      width:100%;
      height:100%;
      padding:0px;
      margin:0px;
    
    }
    .content{
      font-size:15px;
      margin-top:130px;
      margin-left:20px;
      height:220px;
      width:330px;
    }
   
   
    .firstHead{
      margin-left:0px;
     font-size:28px;
      width:350px;
      padding-bottom: 5px;
      
    }
    .secondHead{
      margin-left:0px;
    }
    .heroTxt{
      font-size:16px;
      width:350px;
      margin-left:0px;
      
  
    }
    .heroButton{
      width:140px;
      height:40px;
      font-size:12px;
      margin-left:0px;
    }
    .explore{
      margin-left:30px;
    }
   
    .carView{
      display:none;
    }

  }